.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}

.heroAbout {
  max-width: 500px;
}

.heroAboutHello {
  font-family: 'Inter';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  color: #656D72;
}

.heroAboutName {
  margin: 20px 0px;
  font-size: 44px;
}

.heroAboutText {
  font-size: 16px;
  font-family: 'Inter';
  text-align: justify;
  line-height: 32px;
  color: #232E35
}

strong {
  color: #7E74F1;
}

.heroImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  max-height: 350px;
}

.heroAboutIconsContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
}

.socialMediaIcon {
  height: 27px;
}

@media only screen and (max-width:1000px) {
  .container {      
    flex-direction: column-reverse;
    height: 100vh;
    padding: 0px 30px;
    justify-content: center;
  }

  .heroImage {
    max-height: 250px;
    margin-bottom: 70px;
  }

  .heroAbout {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}