.containerServiceCard {
  background-color: #FFFFFF;
  max-width: 361px;
  max-height: 294px;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 8px;

  margin-bottom: 25px;
}

.iconContainerServiceCard {
  background-color: #F5F3FE;
  border-radius: 16px;
  padding: 16px;
  width: 26px;
  height: 26px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.iconServiceCard {
  height: 20px;
  color: #7E74F1;
}

.containerServiceCard p{
  font-size: 14px;
  max-width: 280px;
  text-align: center;
  margin-bottom: 40px;
}

.containerServiceCard h3 {
  margin: 22px 0;
}

@media only screen and (max-width:1000px) {
  .containerServiceCard {
    margin-top: 30px;
    max-width:330px;

  }
}