.navbar {
  padding-top: 40px;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sections {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



h2 {
  font-family: 'Plus Jakarta Sans';
  color: #232E35;
}

button {
  background-color: #FFF;
  padding: 16px 24px;
  width: 102px;
  height: 49px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover, button:focus {
  border: 1px solid #7E74F1;
  color: #7e74f1e6;
}

a {
  text-decoration: none;
  color: #232E35;
  font-family: 'Inter';
  font-size: 15px;
  cursor: pointer;

  background-image: linear-gradient(
    to right,
    #7E74F1,
    #7E74F1 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #7E74F1;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}