.navbar {
  padding-top: 40px;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sections {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #FFF;
  padding: 16px 24px;
  width: 102px;
  height: 49px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover, .button:focus {
  border: 1px solid #7E74F1;
  color: #7e74f1e6;
}