.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  top: 0px;
}

.menuIcon {
  display: none;
}

.sections {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #FFF;
  padding: 16px 24px;
  width: 102px;
  height: 49px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover, .button:focus {
  border: 1px solid #7E74F1;
  color: #7e74f1e6;
}

@media only screen and (max-width:1000px) {
  .sections, .button, .navbar h2 {
    display: none;
  }

  .menuIcon {
    display: block;
    position: relative;
    right: 30px;
    height: 22px;
  }

  .navbar {
    height: 20px;
    justify-content: end;
  }
}